[submodule "themes/mainroad"]
	path = themes/mainroad
	url = https://github.com/vimux/mainroad.git
[submodule "themes/nostyleplease"]
	path = themes/nostyleplease
	url = https://github.com/g-hanwen/hugo-theme-nostyleplease.git
