@mixin theme(
  $--bg-color,
  $--primary-text-color,
  $--secondary-text-color,
  $--link-color,
  $--visited-link-color
) {
  a.link, .x-button {
    padding: 10px 20px;
    border: solid 1px $--primary-text-color;
    margin-right: 10px;
    margin-bottom: 5px;
    display: inline-block;
    color: $--primary-text-color;

    &:visited {
      color: $--primary-text-color;
    }
    &:hover {
      text-decoration: none;
      background-color: $--primary-text-color;
      color: $--bg-color;
      transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;
    }
  }

  .x-button {
    background: none;
    cursor: pointer;
    font: inherit; /* Inherits the font styling from the parent element */
  }


  a {
    color: $--link-color;
    text-decoration: none;

    &:visited {
      color: $--visited-link-color;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  #language-switcher {
    margin-left: auto;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    float: right;
    align-items: center;
    color: $--primary-text-color;
    font-size: smaller;

    .language-icon {
      width: 25px;
      aspect-ratio: 1;
      background-color: $--primary-text-color;
      mask: url("/language-icon.svg");
      mask-repeat: no-repeat;
      mask-position: 50% 50%;
    }
    
    &::after {
      content: "";
      clear: both;
      display: table;
    }

    select {
      border: none;
      color: $--primary-text-color;
      background-color: transparent;
    }
  }


  pre {
    background-color: $--secondary-text-color !important; 
    code { color: $--bg-color !important; }
  }
}


.clearfix {
  clear: both;
}

.front-image {
  width: 100%;
  max-width: 200px;
}

.spacer {
  margin-top: 60px;
}

@mixin dark-appearance {
  @include theme(#212121, #fafafa, #eeeeee, #dcb196, #dcb196);
}

@mixin light-appearance {
  @include theme(#ffffff, #212121, #666666, #65a9b2, #65a9b2);
}

body[a="dark"] {
  @include dark-appearance;
}
body[a="light"] {
  @include light-appearance;
}

@media (prefers-color-scheme: dark) {
  body[a="auto"] {
    @include dark-appearance;
  }
}

@media (prefers-color-scheme: light) {
  body[a="auto"] {
    @include light-appearance;
  }
}

.not-found-img {
  max-width: 300px;
}


.page-content {
  ul {
      list-style-type: "\2664";

      li {
          padding-left: 5px;
      }

      ul {
          list-style-type: "\2662";

          ul {
              list-style-type: "\2667";
          }
      }
  }
}

.menu-date {
  display: inline-block;
  width: 7.5em;
  font-size: 0.8em;
}

.menu-date-short {
  display: inline-block;
  width: 4.5em; 
}
