@mixin theme($--bg-color, $--primary-text-color, $--secondary-text-color, $--link-color, $--visited-link-color) {

    a.link {
        padding: 10px 20px;
        border: solid 1px $--primary-text-color;
        margin-right: 10px;
        margin-bottom: 5px;
        display: inline-block;
        color:  $--primary-text-color;

        &:visited { color: $--primary-text-color; }
        &:hover { 
            text-decoration: none;
            background-color: $--primary-text-color;
            color: $--bg-color;
            transition: color .4s ease-in-out, background-color .4s ease-in-out;
        }
    }

    a {
        color: $--link-color;
        text-decoration: none;
    
        &:visited { color: $--visited-link-color; }
        &:hover { text-decoration: underline; }
      }
}

.front-image {
  width: 100%;
  max-width: 200px;
}
  
.spacer {
    margin-top: 60px;

}

@mixin dark-appearance {
    @include theme(#212121, #fafafa, #eeeeee, #dcb196, #dcb196);
  }
  
  @mixin light-appearance {
    @include theme(#ffffff, #212121, #666666, #65a9b2, #65a9b2);
  }


body[a="dark"] { @include dark-appearance; }
body[a="light"] { @include light-appearance; }

@media (prefers-color-scheme: dark) {
    body[a="auto"] { @include dark-appearance; }
  }
  
  @media (prefers-color-scheme: light) {
    body[a="auto"] { @include light-appearance; }
  }
  