  
  {{- range $item := .entries -}}
        {{ if $item.link }}
            <a class="link" href="{{ $item.link }}">
        {{- end -}}

        {{- if $item.title }}
            {{ $level := 3 }}
            {{- if $item.titleLevel }}
                {{ $level = add $item.titleLevel 2 }}
            {{- end -}}
            <h{{ $level }}>
                {{ $item.title }}
            </h{{ $level }}>
        {{- end -}}

        {{- if $item.type }}
            <span>{{ i18n $item.type }}</span>
        {{- end -}}

        {{- if $item.text }}
        <span>{{ $item.text }}</span>
        {{- end -}}

        {{- if $item.markdown }}
        <span>{{ $item.markdown | markdownify }}</span>
        {{- end -}}

        {{ if $item.link }}
            </a>
        {{- end -}}
        

        {{- if $item.entries }}
            {{- partial "_tournament_entries.html" (dict "entries" $item.entries "tournament" .tournament )}}
            <div class="spacer"></div>
        {{- end -}}



    {{- end -}}