{{- if .IsTranslated -}}
<div id="language-switcher" title="{{ i18n "change-language"}}" >
    {{ $icon := resources.Get "img/language-icon.svg" }}
    <div class="language-icon"> </div>
    <select autocomplete="off" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
        <option selected hidden> {{ i18n "change-language"}} </option>
        <option disabled> &check; {{ $.Language.LanguageName }} ({{ .Lang }})</option>
        {{ range .Translations }}
            <option value="{{ .Permalink }}" value="/{{ .Permalink }}"> {{ .Language.LanguageName }} ({{ .Lang }})</option>
        {{ end }}
    </select>
</div>
{{ end }}