{{- if .IsTranslated -}}
<div id="language-switcher" title="{{ i18n "change-language"}}" >
    {{ $icon := resources.Get "img/language-icon.svg" }}
    <div class="language-icon"> </div>
    <select autocomplete="off">
        <option selected hidden> {{ i18n "change-language"}} </option>
        <option value="{{ .Permalink }}" disabled> &check; {{ $.Language.LanguageName }} ({{ .Lang }})</option>
        {{ range .Translations }}
            <option onclick="window.location = this.value;" value="{{ .Permalink }}" value="/{{ .Permalink }}"> {{ .Language.LanguageName }} ({{ .Lang }})</option>
        {{ end }}
    </select>
</div>
{{ end }}